page-detalleHotel {
    .toolbar-background-md {
        border-color: #b2b2b2;
        background: #08088A;
    }

    .ion-md-star{
        color: #F1C40F;
        
    }

    .ion-md-star-outline{
        color: transparent;
    }

    .rating{
        padding-left: 1%;
    }

}
